/* Use box sizing everywhere */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #d0bed8;
  background-image: url(groovepaper.png);
}

p {
  font-size: 20px;
}

.horizontal-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.top-images {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.top-images img {
  width: 80px;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.card {
  position: relative;
  background-color: #fff;
  background-image: url(groovepaper.png);
  margin: 40px;
  padding: 40px 40px 40px 40px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
  width: 400px;
  border-radius: 8px;
  font-family: "EB Garamond", serif;
  font-display: block;
  text-align: center;
}

.top-header {
  margin-top: 4px;
}

.cornwall-img {
  transform: rotate(-20deg);
}

.us-cliff-img {
  transform: rotate(20deg);
}

.us-beach-img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}
